body{
	margin: 0;
	font-family: verdana;
}
header{
	background:#1d4a96 ;
	color: white;
	border: 1px solid #1d4a96;
}
table{
	border-collapse: collapse;
}
td,th{
	padding: 5px 10px;
}
main{
	padding: 1em 2em;
}

@media (max-width: 30em){/*30x16px=480px*/
	table{
		width: 100%;
		font-size: .9em;
	}
	table tr{
		display: flex;
		flex-direction: column;
		border: 1px solid grey;
		padding: 1em;
		margin-bottom: 1em ;
	}
	table td[data-titulo]{
		display: flex;
	}
	table td[data-titulo]::before{
		content: attr(data-titulo);
		width: 150px;
		color: silver;
		font-weight: bold;

	}

	table thead{
		display: none !important;
	}
}